In [3]:
print('data science')

data science

In [4]:
li = [2,3,5,6,7,9]
len(li)

6

In [6]:
user_input = input('enter something')
user_input

'nehal'

In [7]:
 x = 5
 type(x)

int

In [10]:
str = '54'
num = int(str)
num
type(num)

int

In [12]:
number = list(range(1,6))
number

[1, 2, 3, 4, 5]

In [19]:
li = [19,29,333,42,55]
total = sum(li)
total

478

In [20]:
li = [19,29,333,42,55]
max_val = max(li)
max_val

333

In [22]:
min_val = min(li)
min_val

19

In [23]:
#abs(): returns the absolute value of a number
abs_value = abs(-10)
abs_value

10

In [24]:
# round(): rounds a floating point number to a specified number of decimal
round_num = round(23.23451)
round_num

23

In [25]:
#sorted(): returns a new sorted list from the elements of an iterable
li = [19,29,333,42,55]
sorted_number = sorted(li)
sorted_number

[19, 29, 42, 55, 333]

In [27]:
#any(),all(): returns true if any or all elements in an iterable are true
bool_tree = [True, False, True, False, True]
any_bool = any(bool_tree)
any_bool

True

In [29]:
all_true = all(bool_tree)
all_true

False

In [30]:
#str.join(): joins elements of an iterable with a string as a separator
li = ['apple', 'juice', 'singara']
joined_str = ','.join(li)
joined_str

'apple,juice,singara'

In [32]:
#str.lower(),upper(): conberts a strinf to a lowercase or uppercase
str = 'helO world'
low_case = str.lower()
low_case

'helo world'

In [33]:
upper_case =str.upper()
upper_case

'HELO WORLD'

In [34]:
my_tuple = (1,2,3,4,)
t_l = list(my_tuple)
t_l

[1, 2, 3, 4]

In [35]:
my_dict = dict(name = 'nehal', age = 23)
my_dict

{'name': 'nehal', 'age': 23}

In [36]:
my_dict.keys()

dict_keys(['name', 'age'])

In [37]:
li = ['apple', 'juice', 'singara']
for index, value in enumerate(li):
    print(index, value)

0 apple
1 juice
2 singara

In [38]:
zipped_data = zip(li)
zipped_data

In [41]:
li = [19,29,333,42,55]
reverse_list = list(reversed(li))
reverse_list

[55, 42, 333, 29, 19]

In [42]:
#sum with a starting 
numbers = [1,2,3]
total = sum(numbers,100)
total

106

In [43]:
#abs() for complex number: returns magnitude of a complex number
complex_num = 3+ 4j
magnitude = abs(complex_num)
magnitude

5.0

In [48]:
#slice(): create a slice object that can be used to slice sewuence like list and strings
li = [19,29,333,42,55]
slice_list = slice(1,4)
sliced_list = li[slice_list]
sliced_list

[29, 333, 42]

In [49]:
#chr(), ord(): handling unicode characters and code points
euro_symbol = chr(8364)
code_point = ord('$')
euro_symbol

'â‚¬'

In [50]:
code_point

36